# Ignore build folders
bin/
obj/
out/

# Ignore IDE settings
.idea/
*.suo
*.user
*.vs/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore sensitive files
appsettings.Development.json
